body {
    background: url(/assets/images/Bottom_texture.jpg) repeat;
}

.navbar-nav {
    .nav-item {
        &.active {
            .nav-link {
                color:#ff8400;
            }
        }
    }
}

.container.main {
        background: #fff;
}