html, body {
    height: 100%;
}

body {
    background: url(/assets/images/bg-default.webp) repeat-x;
    color:#464646;
}

h1, h2, h3 {
    color: #ff8400;
}

.min-100 {
    min-height: 100%;
}

.navbar-nav {
    .nav-item {
        &.active {
            .nav-link {
                color:#ff8400;
            }
        }
    }
}

.container.main {
        background: #f0f0f0;
}